@import '~@a-ui/core/dist/assets/styles/quarks';

.o-cascader-menus {
	position: absolute;

	&-hidden {
		display: none;
	}
}

.o-cascader-menu {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: -1px;

	&.m-flyout__content {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}

	&-item {
		position: relative;
		transition: all 0.3s ease;

		.o-cascader-menu {
			position: absolute;
			top: 0;
			left: 100%;
		}

		&__label {
			display: flex;
			align-items: center;
			justify-content: space-between;
			max-width: 12.5rem;
			padding: $spacer-xs $spacer-xs;
			cursor: pointer;
			line-height: $spacer;

			&:hover {
				background-color: $background-color-light;
				color: $brand-primary;

				span:first-child {
					text-decoration: underline;
				}
			}
		}

		&-expand-icon {
			padding-left: $spacer-xs;
		}

		&--active {
			background-color: $background-color-light;

			> .o-cascader-menu-item__label {
				color: $brand-primary;

				span:first-child {
					text-decoration: underline;
				}
			}
		}

		&--disabled {
			color: $state-disabled;

			> .o-cascader-menu-item__label {
				background: transparent;
				color: $grey-dark;
				cursor: not-allowed;

				span:first-child {
					text-decoration: none;
				}
			}
		}
	}
}
