@import '~@a-ui/core/dist/assets/styles/_quarks';

.o-scrollable-tabs {
	overflow: hidden;
	position: relative;
	margin: $spacer;

	:global {
		.m-nav-tabs {
			flex-wrap: nowrap;
			overflow-x: scroll;

			a {
				white-space: nowrap;

				&:focus {
					box-shadow: inset 0 0 0 3px #c0dffe;
				}
			}
		}
	}

	&::before,
	&::after {
		position: absolute;
		top: 0;
		width: $spacer;
		height: 100%;
		transition: transform 100ms ease-in-out;
		content: '';
		pointer-events: none;
	}

	&::before {
		left: 0;
		background: linear-gradient(to right, $white, rgba($white, 0.1));
		transform: translateX(-$spacer);
	}

	&::after {
		right: 0;
		background: linear-gradient(to left, $white, rgba($white, 0.1));
		transform: translateX($spacer);
	}
}

.o-scrollable-tabs--gradient-left {
	&::before {
		transform: translateX(0);
	}
}

.o-scrollable-tabs--gradient-right {
	&::after {
		transform: translateX(0);
	}
}
