@import '~@a-ui/core/dist/assets/styles/_quarks';

.m-accordion {
	&__header {
		border-top: none;
		border-left: none;
		border-right: none;

		&:hover {
			background-color: #fff;
		}
	}
}

.m-filter-form {
	&__row {
		justify-content: flex-end;
	}

	&__text {
		text-align: left;
		align-self: center;
	}

	&__col {
		flex-basis: 50%;
		margin-bottom: $spacer;
	}

	&__buttons {
		width: 100%;
		align-self: flex-end;
		flex-basis: auto;
		padding-left: 0;
		margin: 0 0.9rem;

		button {
			margin-top: $spacer;
		}

		@include at($screen-xs) {
			width: unset;
		}

		@include at($screen-sm) {
			align-self: flex-end;
			padding-left: $spacer-lg;

			button {
				margin-top: 0;
				margin-right: $spacer-xs;
			}
		}
	}

	.m-filter-form__col + &__buttons {
		button {
			margin-top: 0;
		}
	}
}
