@import '~@a-ui/core/dist/assets/styles/quarks';

.c-character-count {
	display: flex;
	flex-direction: row;
	color: $state-success;
	align-items: center;
}

/**
 * Modifiers
 */

.c-character-count--warning {
	color: $state-warning;
}

.a-character-count-icon {
	margin-right: $spacer * .25;
	color: $state-success;

	&--warning {
		color: $state-warning;
	}
}

.a-character-count-counter {
	margin-right: $spacer * .25;
}
