@import '~@a-ui/core/dist/assets/styles/_quarks';

.o-context-header {
	padding-top: $spacer;

	&__top-section {
		margin-bottom: $spacer;
	}

	&__body,
	&__body__title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}

	&__body {
		padding-bottom: $spacer;
	}

	&__wrapper {
		display: flex;
		flex: 1;
	}

	&__right-section{
		display: flex;
		margin-left: auto;
		flex-direction: column;
	}

	&__label {
		margin-top: auto;
		align-self: flex-end;
		padding: $spacer-sm $spacer;
		font-weight: $label-font-weight;
		background-color: $white;
	}

	&__tabs {
		&::before {
			background: linear-gradient(to right, $background-color-light, rgba($background-color-light, 0.1));
		}

		&::after {
			background: linear-gradient(to left, $background-color-light, rgba($background-color-light, 0.1));
		}
	}
}
