@import '~@a-ui/core/dist/assets/styles/_quarks';

.a-table {
	tr {
		position: relative;
	}

	&.a-table--fixed {
		table-layout: fixed;
	}

	th > .a-table__header__button {
		padding-left: 0;
		width: auto;

		.fa {
			font-size: rem($font-size-base);
		}
	}

	&.a-table--primary,
	&.a-table--secondary {
		th > .a-table__header__button {
			color: $white;
		}
	}

	&.a-table--has-placeholder,
	.a-table--loading {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		min-width: 100%;
	}

	&.a-table--has-placeholder {
		border: 1px dashed $grey;
		padding: $spacer;
		flex-direction: column;
		align-items: flex-start;

		.a-table--has-placeholder__item:not(:last-child) {
			margin-bottom: $spacer-xs;
		}
	}

	.a-table-expanded-row {
		background-color: $white !important;
	}

	.a-table__cell {
		position: relative;
		display: table-cell;
		padding: $table-padding;
		vertical-align: middle;

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 0;
			width: 100%;
			height: 1px;
			background: $table-border;
		}

		&::before {
			top: -1px;
		}

		&::after {
			bottom: 0;
		}
	}

	.a-table__row {
		display: table-row;
		height: $spacer-lg;
		transition: background-color $animation-duration $animation-easing;

		&--collapsed {
			display: none;
		}

		&--hovered {
			.a-table__cell {
				background: transparent;
				color: transparent;

				&::before,
				&::after {
					background: $brand-primary;
					height: 4px;
				}

				> * {
					opacity: 0;
				}
			}
		}
	}

	.a-table__row--collapse {
		display: none;
	}
}

.a-table__wrapper-responsive {
	border: none !important;
	border-top: 1px solid #949494 !important;
	border-bottom: 1px solid #949494 !important;

	tbody tr {
		border-bottom: none;
	}

	td {
		position: relative;

		&::after {
			content: '';
			width: 100%;
			height: 1px;
			position: absolute;
			bottom: 0;
			left: 0;
			border-bottom: 1px solid #949494;
		}
	}
}

.a-table--draggable {
	tbody tr {
		cursor: move;
	}
}
