@import '~@a-ui/core/dist/assets/styles/_quarks';

.a-table__wrapper-responsive {
	border: none;
	border-top: 1px solid #949494;
	border-bottom: 1px solid #949494;

	tbody tr {
		border-bottom: none;
	}

	td {
		position: relative;

		&::after {
			content: '';
			width: 100%;
			height: 1px;
			position: absolute;
			bottom: 0;
			left: 0;
			border-bottom: 1px solid #949494;
		}
	}
}

.a-table {
	&.a-table--fixed {
		table-layout: fixed;
	}

	th > .a-table__header__button {
		padding-left: 0;
		width: auto;
	}

	&.a-table--primary,
	&.a-table--secondary {
		th > .a-table__header__button {
			color: $white;
		}
	}

	.a-table-expanded-row {
		background-color: $white !important;
	}

	.a-table__row--level-1 {
		td {
			&:first-child {
				&::after {
					left: 0;
				}
			}
		}
	}

	.a-table__row--level-2 {
		td:first-child {
			padding-left: $spacer-md + $spacer;

			&::before {
				content: '';
				background: white;
				width: $spacer-md;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}

			&::after {
				left: $spacer-md;
			}
		}

		&.a-table__row--last-in-level {
			td {
				&:first-child {
					&::after {
						left: 0;
					}
				}
			}
		}
	}

	.a-table__row--hovered {
		opacity: 0;
	}

	.a-table__row--collapse {
		display: none;
	}
}

.a-table--draggable {
	tbody tr {
		cursor: move;
	}
}
