@import "~@a-ui/core/dist/assets/styles/_quarks";

.a-tooltip {
	z-index: 100;
	white-space: normal;
	height: auto;

	&.a-tooltip--no-arrow {
		&::before {
			display: none;
		}
	}

	.arrow {
		width: 0;
		height: 0;
		border-style: solid;
		position: absolute;
	}

	&[data-popper-placement^="top"] {
		.arrow {
			border-width: $tooltip-arrow-height $tooltip-arrow-height 0 $tooltip-arrow-height;
			border-color: $grey-light transparent transparent transparent;
			bottom: -$tooltip-arrow-height;
		}
	}

	&[data-popper-placement^="left"] {
		.arrow {
			border-width: $tooltip-arrow-height 0 $tooltip-arrow-height $tooltip-arrow-height;
			border-color: transparent transparent transparent $grey-light;
			right: -$tooltip-arrow-height;
		}
	}

	&[data-popper-placement^="right"] {
		.arrow {
			border-width: $tooltip-arrow-height $tooltip-arrow-height $tooltip-arrow-height 0;
			border-color: transparent $grey-light transparent transparent;
			left: -$tooltip-arrow-height;
		}
	}

	&[data-popper-placement^="bottom"] {
		.arrow {
			border-width: 0 $tooltip-arrow-height $tooltip-arrow-height $tooltip-arrow-height;
			border-color: transparent transparent $grey-light transparent;
			top: -$tooltip-arrow-height;
		}
	}

	&.a-tooltip--primary {
		&[data-popper-placement^="top"] {
			.arrow {
				border-color: $tooltip-primary-bg transparent transparent transparent;
			}
		}

		&[data-popper-placement^="left"] {
			.arrow {
				border-color: transparent transparent transparent $tooltip-primary-bg;
			}
		}

		&[data-popper-placement^="right"] {
			.arrow {
				border-color: transparent $tooltip-primary-bg transparent transparent;
			}
		}

		&[data-popper-placement^="bottom"] {
			.arrow {
				border-color: transparent transparent $tooltip-primary-bg transparent;
			}
		}
	}

	&.a-tooltip--secondary {
		&[data-popper-placement^="top"] {
			.arrow {
				border-color: $tooltip-secondary-bg transparent transparent transparent;
			}
		}

		&[data-popper-placement^="left"] {
			.arrow {
				border-color: transparent transparent transparent $tooltip-secondary-bg;
			}
		}

		&[data-popper-placement^="right"] {
			.arrow {
				border-color: transparent $tooltip-secondary-bg transparent transparent;
			}
		}

		&[data-popper-placement^="bottom"] {
			.arrow {
				border-color: transparent transparent $tooltip-secondary-bg transparent;
			}
		}
	}

	&.a-tooltip--white {
		border: 1px solid #949494;
		background-color: $white;

		.innerArrow {
			width: 0;
			height: 0;
			border-style: solid;
			position: relative;
		}

		&[data-popper-placement^="top"] {
			.arrow {
				border-color: #949494 transparent transparent transparent;
			}

			.innerArrow {
				border-color: $white transparent transparent transparent;
				border-width: calc(0.375rem - 1px) calc(0.375rem - 1px) 0 calc(0.375rem - 1px);
				bottom: calc(0.375rem + 0.5px);
				left: calc(-0.375rem + 1px);
			}
		}

		&[data-popper-placement^="left"] {
			.arrow {
				border-color: transparent transparent transparent #949494;
			}

			.innerArrow {
				border-color: transparent transparent transparent $white;
				border-width: calc(0.375rem - 1px) 0 calc(0.375rem - 1px) calc(0.375rem - 1px);
				top: calc(-0.375rem + 1px);
				right: calc(0.375rem + 0.5px);
			}
		}

		&[data-popper-placement^="right"] {
			.arrow {
				border-color: transparent #949494 transparent transparent;
			}

			.innerArrow {
				border-color: transparent $white transparent transparent;
				border-width: calc(0.375rem - 1px) calc(0.375rem - 1px) calc(0.375rem - 1px) 0;
				top: calc(-0.375rem + 1px);
				left: 1.5px;
			}
		}

		&[data-popper-placement^="bottom"] {
			.arrow {
				border-color: transparent transparent #949494 transparent;
			}

			.innerArrow {
				border-color: transparent transparent $white transparent;
				border-width: 0 calc(0.375rem - 1px) calc(0.375rem - 1px) calc(0.375rem - 1px);
				top: 1.5px;
				left: calc(-0.375rem + 1px);
			}
		}

		&[data-popper-placement^="bottom-end"] {
			.arrow {
				right: 0.75rem;
			}
		}
	}
}
