@import '~@a-ui/core/dist/assets/styles/quarks';

.o-multilanguage-field {
	position: relative;
	padding: $spacer;

	&__icon {
		position: absolute;
		top: $spacer;
		right: $spacer;
		color: $grey-dark;
	}
}
